@charset "UTF-8";
/* CSS Document */
#header {width: 80%;}
.logos {width: 75%; margin: 25px 0 15px 0; margin-left: auto; margin-right: auto;}
.bajada {width: 75%; margin: 50px 0 50px 0; margin-left: auto; margin-right: auto;}
.videos {width: 75%; display:flex; justify-content: center; align-items: center; margin-left: auto; margin-right: auto;}
#footer {background-color:#000000; margin: 0; }
.lado1 {padding: 10px; margin: 10px; background-color: #ededed;}


